* {
  border: none;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 12vw;
  margin: 0;
  text-align: center;
}